body {
    background-image: linear-gradient(to right, #37727c, #061069);
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hora{
    color: aliceblue;
}

span{
    display: flex;
    height: auto;
}

.caixa{
    width: 15rem;
    height: 1rem;
}
